#prin {	
	background: #f7b600;
	text-align: center;
	padding: 5px 5px 18px 5px;
}

#meio{
	width: 920px;
	margin: 0 auto;
	padding: 15px;
	background: #e6e6e6;
}

#postagem{
	width: 660px;
	float: left;
	margin-bottom: 15px;
}

.post{
	background: white;
	padding: 15px;
	margin-bottom: 15px;
	
}

.post2{
	background: white;
	padding: 15px;
	margin-bottom: 15px;
	
}

.bd{
	border-bottom: dotted black 1px;
	display: block;
}


#menulateral{
	width: 240px;
	float: right;
	background: #e6e6e6;
	

}

.gg{
	background: #ccc;
	color:  #4e4e4e  ;
	padding: 5px;
	font-size: 1.2em;
	display: block;
}


#rodape{
	background: #ccc;
	clear: both;
	text-align: center;
	padding: 10px;
	margin-top: 200px;
}
	
body{
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

h1{
	color:   #4e4e4e;
	font-size: 2.5em;
}

h2{
	color:   #f7b600;
	padding: 1px;
}

h3{
	color: blue;
	background: #ccc;
	font-size: 1.2em;
	padding: 10px;
}



.data{

	font-size: 0.8em;
	display: block;


}

.branco{
	color:white;
}

#prin  a{
	text-decoration: none;
}

#prin a:link, #prin a:visited{
	color: #fff;
	padding: 8px 12px;
}

#prin a:hover{
	background: #fff;
	color:#f7b600;
	
}

a:link, a:visited{
	color: #f7b600;
	text-decoration: none;
}

a:hover{
	;
	color:#f7b600;
	text-decoration: underline;
	
}